<div>
    <div class="column is-offset-3 mr-3">

        <div class="columns is-gapless has-text-centered-mobile">
            <div class="column is-3 mt-3">
                <img src="/uploads/avatars/av-<%- user.avatar %>" width="200" height="200"
                                          style="border-radius: 50%;">
            </div>
            <div class="column is-6">
                <div class="subtitle"><%- user.username %> <div class="button is-small ml-4"> <a href="/manage/profile/update"> Update Profile</a></div> </div>
                <div class="columns is-gapless">
                    <div class="column is-3"><strong><%- photos.length %></strong> posts</div>
                    <div class="column is-3"><strong><%- user.followers.length %></strong> followers</div>
                    <div class="column is-3"><strong><%- user.following.length %></strong> following</div>
                </div>
                <div class="subtitle has-text-weight-bold is-capitalized pt-5"><%- user.fullname %> </div>
            </div>

        </div>

    </div>

    <div class="block"style="width: 1500px"></div>
    <div class="column is-offset-2 is-8  ">
        <div class="columns is-multiline is-12-mobile has-text-centered-mobile" >

            <% for( let index = 0; index < photos.length; index++ ) { %>
                <div class="column is-4-desktop" style="height: 350px"><img src="/uploads/photos/<%- user.email %>/<%-photos[index]%>"  style="height: 300px; object-fit: cover;object-position: center"></div>
            <% } %>
        </div>
    </div>


</div>



